/* Decent Defaults */

@media screen {
}
* {
  font-family: futura;
}

img {
  margin: 0.5rem;
}
video {
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-inline: 2.5rem;
}
h2 {
  text-align: center;
  color: white;
  font-size: 1rem;
  margin: 2rem 2rem 5rem 5rem;
}
p {
  text-align: left;
  color: white;
  padding: 0 25px 10px 25px;
  max-width: 175ch;
}
.grid {
  display: grid;
  justify-content: center;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 1em 0;
  padding: 0;
  background-color: navy;
  position: sticky;
  top: 0;
  overflow: hidden;
}
.nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover {
  color: yellow;
}

ol {
  margin: 1rem;
  color: white;
  max-width: 30ch;
}
.logo-image {
  max-width: 5rem;
  border-radius: 50%;
  margin-top: -6px;
}
iframe.youtube {
  width: 100%;
  aspect-ratio: 16/9;
  max-width: 30rem;
  display: block;
}
button {
  width: 10rem;
  height: 3rem;
  background-color: transparent;
  color: white;
  border: 0.1rem solid white;
  font-size: 1.5rem;
  border-radius: 10px;
  margin: 1rem 1rem;
}
button:hover {
  color: yellow;
}
